@model LevelUpMarket.Models.Game
<div class="row">
 <input asp-for="Id" id="gameId" hidden />
<div id="mainContent" class="col-6">
     <div id="mainPart">
        <legend class="p-2">Add videos</legend>
            <form id="add-task-form">
                    <div class="list-input-box">
                        <div class="col-4">
                    <select class="form-select" id="video-type-select">
                        <option disabled selected>--Select Video Type--</option>
                        @foreach (var type in Enum.GetValues(typeof(VideoType)))
                        {
                            <option value="@type">@type.ToString().ToLower()</option>
                        }
                    </select>
                        </div>
              <div class="col-8">
                <input type="text" class="frmInpt" placeholder="Add url" id="add-url-input">
                        <button class="btn-sub" type="submit" onclick="addVideo()" id="add-video-submit">+</button>
                    </div>
                    </div>
                </form>
        
        <div class="todo-container todo-task-list">
            <div id="todo-tasks">
               
                <!--<div class="list-input-box" id="listCharacter">
                  <input type="text" class="input-filed" placeholder="Add new task" readonly>
                  <button class="btn-sub">delete</button>
                </div> -->
            </div>
        </div>
    </div>
</div>



<div id="mainContent" class="col-6">
    <div id="mainPart">
        <legend class="p-2">Add Character</legend>
        <form id="add-character-form" enctype="multipart/form-data">
            <div class="mb-3">
                <input placeholder="Name"  class="form-control" />
            </div>
            <div class="mb-3">
                <input placeholder="Description" class="form-control" />
            </div>
            <div mb-3>
                <select class="form-select" id="add-type-select">
                    <option disabled selected>--Select Character Type--</option>
                    @foreach (var type in Enum.GetValues(typeof(CharacterType)))
                    {
                        <option value="@type">@type.ToString().ToLower()</option>
                    }
                </select>
            </div>
            <div class="mb-3 mt-3">

                <input type="file" id="file" name="file" size="50" class="form-control" />
            </div>
            <div >
                <input class="form-check-input" type="checkbox" id="scales" name="scales" checked>
                <label>Is Main Character</label>
            </div>
                <div class="form-group d-flex justify-content-end">
                    <input type="submit" value="Add" class="btn btn-primary px-5" />
                </div>
            
        </form>

        <div class="todo-container todo-task-list">
            <div id="todo-tasks2">
                <!--<div class="list-input-box">
                  <input type="text" class="input-filed" placeholder="Add new task" readonly>
                  <button class="btn-sub">delete</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

     </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/addVideos.js"></script>

     

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
        <link rel="stylesheet" href="~/css/AddGame.css" asp-append-version="true" />

        

    }

}
