@model LevelUpMarket.Models.Game

 <input asp-for="Id" id="gameId" hidden />
    @{
        this.ViewContext.HttpContext.Items["gameId"] = Model.Id;
    }
<div id="mainContent" class="col-6">
     <div id="mainPart">
        <legend class="p-2">Add videos</legend>
            <form id="add-task-form">
                    <div class="list-input-box">
                        <div class="col-4">
                    <select class="form-select" id="video-type-select">
                        <option disabled selected>--Select Video Type--</option>
                        @foreach (var type in Enum.GetValues(typeof(VideoType)))
                        {
                            <option value="@type">@type.ToString().ToLower()</option>
                        }
                    </select>
                        </div>
                <div class="col-8" style="display: flex; justify-content: space-between; padding-right: 10px;">
                <input type="text" class="frmInpt" placeholder="Add url" id="add-url-input">
                    <button class="btn-sub" type="submit" onclick="addVideo()" id="add-video-submit">+</button>
                    </div>
                    </div>
                </form>
        
        <div class="todo-container todo-task-list">
            <div id="todo-tasks">
               
                <!--<div class="list-input-box" id="listCharacter">
                  <input type="text" class="input-filed" placeholder="Add new task" readonly>
                  <button class="btn-sub">delete</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

    <div>
        @{
            var characterModel = new LevelUpMarket.Models.Character
            {
                GameId = Model.Id
            };
           
        }
        @Html.Partial("~/Areas/Admin/Views/Character/CharacterView.cshtml",characterModel)
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/addVideos.js"></script>

     

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
        <link rel="stylesheet" href="~/css/AddGame.css" asp-append-version="true" />

        

    }

}
